:host {
  background-image: url("/assets/images/blur.png");
  width: 1145px;
  min-width: 1145px;
  max-width: 1145px;
  margin-left: 19%;
  height: 810px;
  position: absolute;
  top: 81px;
  left: 8px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}