@use '@angular/material' as mat;
@include mat.core();

@font-face {
  font-family: 'SiteTitle';
  src: url(assets/fonts/Berlin-Sans-FB-Regular.ttf);
}

@font-face {
  font-family: 'Labels';
  src: url(assets/fonts/ErasDemiITC.ttf);
}

.backgroundColor {
  background-color: rgb(10, 17, 36);
  color: white;
}

.mainColor {
  background-color: rgb(22, 32, 65);
  color: white;
}

.secondaryColor {
  background-color: rgb(96, 72, 156);
  color: white;
}

html,
body {
  background-color: rgb(10, 17, 36);
  color: white;
}

.loginDialog {
  border-radius: 18px;
  border: solid 2.2px white;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}

.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) .mdc-menu-surface.mat-mdc-autocomplete-panel {
  background-color: rgb(96, 72, 156);
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
  background-color: rgb(96, 72, 156);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}