@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$deep-purple-palette, 400);
$my-accent: mat.define-palette(mat.$gray-palette, 50);
$my-theme: mat.define-dark-theme((color: (primary: $my-primary,
        accent: $my-accent,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include mat.all-component-themes($my-theme);


.backgroundColor {
  background-color: rgb(10, 17, 36);
  color: white;
}

.mainColor {
  background-color: rgb(22, 32, 65);
  color: white;
}

.secondaryColor {
  background-color: rgb(96, 72, 156);
  color: white;
}

html,
body {
  background-color: rgb(10, 17, 36);
}

.loginDialog {
  border-radius: 18px;
  border: solid 2.2px white;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}