@use '@angular/material' as mat;
@include mat.core();

@font-face {
  font-family: 'SiteTitle';
  src: url(assets/fonts/Berlin-Sans-FB-Regular.ttf);
}

@font-face {
  font-family: 'Labels';
  src: url(assets/fonts/ErasDemiITC.ttf);
}

.backgroundColor {
  background-color: rgb(10, 17, 36);
  color: white !important;
}

.mainColor {
  background-color: rgb(22, 32, 65);
  color: white !important;
}

.secondaryColor {
  background-color: rgb(96, 72, 156) !important;
  color: white !important;
}

html,
body {
  background-color: rgb(10, 17, 36);
  color: white !important;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(103, 72, 180, 0.548);
  }
}

.loginDialog {
  border-radius: 24px;
  border: solid 2.2px white;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}

.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) .mdc-menu-surface.mat-mdc-autocomplete-panel {
  background-color: rgb(96, 72, 156);
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
  background-color: rgb(96, 72, 156);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled),
.mat-mdc-option:focus:not(.mdc-list-item--disabled),
.mat-mdc-option.mat-mdc-option-active,
.mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
  background: rgb(255 255 255 / 20%);
}

.mdc-text-field {
  background-color: transparent !important;
  border-radius: 24px;
}

.mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  opacity: 0 !important;
}

.mat-mdc-form-field {
  flex-direction: unset !important;
  display: flex !important;
}

.mat-mdc-form-field-subscript-wrapper {
  width: 0 !important;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-line-ripple::after {
  opacity: 0;
}

.mat-expansion-indicator::after {
  padding: 5px !important;
  color: white;
  border-width: 0 3px 3px 0 !important;
  border-radius: 3px;
}

.mat-mdc-menu-content {
  background-color: rgb(96, 72, 156) !important;
}

.mat-mdc-menu-item.mdc-list-item {
  background-color: rgb(96, 72, 156);

  &:hover {
    background-color: rgb(96, 72, 156);
  }
}

.mat-mdc-menu-item.mdc-list-item {
  &:hover {
    background-color: rgb(81, 62, 129);
  }
}

.mat-mdc-table,
.mat-mdc-paginator-container {
  background-color: rgb(66, 51, 104);
}

.mat-mdc-select-panel-above .mdc-menu-surface.mat-mdc-select-panel {
  background-color: rgb(81, 62, 129);
}