.background {
  height: 100%;
  width: 100%;
}

.content {
  margin: 10px 15%;
  border: 1px solid rgba(189, 189, 189, 0.616);
  padding: 10px;
}

.mr-8 {
  margin-right: 8px;
}

.move {
  padding: 8px 8px;
  display: flex;
  justify-content: flex-end;
}