<div class="background mat-app-background">
  <div class="move">
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle
      [formControl]="toggleControl"
      class="mr-8"
    >
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </div>
  <!-- nie tykać kurwa tego wyżej!! -->

  <div class="content">


  </div>

  <button
    class="admin-button"
    (click)="onAdminButtonClick();"
    mat-fab
    color="primary"
    aria-label="Example icon button with a delete icon"
  >
    <mat-icon>construction</mat-icon>
  </button>


</div>