.admin-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgb(96, 72, 156);
  color: white;
}

.offer {
  width: 1080px;
  margin: 1% 20%;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 32, 65);
  border-radius: 24px;
}