:host {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  align-items: center;
  font-weight: bold;
  width: 400px;
  height: 200px;
}

.file-input {
  display: none;
}

.image {
  margin-right: 42px;
  width: 288px;
  height: 162px;
  background-color: rgb(96, 72, 156);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.font {
  font-size: 24px;
  font-weight: 500;
}