.dropdown {
  display: flex;
  margin: 5px 0px 10px 0px;
}

.title {
  margin-top: 12px;
  font-size: 22px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px
}