:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--gap) / 2);
}

.button {
  width: 130px;
}

.color {
  &-default {
    background-color: rgb(68, 53, 107);
  }

  &-clicked {
    background-color: rgb(96, 72, 156);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 81px;
  width: max-content;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  bottom: 58px;
}