.mat-mdc-table .mat-mdc-header-cell {
  width: 190px;
}

.icon {
  &:hover {
    cursor: pointer;
  }

  &--yes {
    color: green;
  }

  &--no {
    color: red;
  }
}

.mat-mdc-form-field {
  background-color: rgb(66, 51, 104);
  border-bottom: 1px solid white;
  border-radius: 18px 18px 0 0;
}