<div>
  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="getAll()"
  >
    Get all categories
  </button>

  <form [formGroup]="form">
    <button
      [disabled]="idNotValid"
      class="button"
      color="primary"
      mat-raised-button
      type="button"
      (click)="getOne()"
    >
      Find category by id
    </button>

    <my-input
      controlName="id"
      type="number"
      label="Id"
    >
    </my-input>
    <button
      [disabled]="nameNotValid"
      class="button"
      color="warn"
      mat-raised-button
      type="button"
      (click)="postOne()"
    >
      Create new category
    </button>
    <my-input
      controlName="name"
      type="text"
      label="Name"
    >
    </my-input>
    <button
      [disabled]="idNotValid || nameNotValid"
      class="button"
      color="warn"
      mat-raised-button
      type="button"
      (click)="postOneProduct()"
    >
      Create new product in category(by id)
    </button><br>
    <button
      [disabled]="idNotValid || nameNotValid"
      class="button"
      color="warn"
      mat-raised-button
      type="button"
      (click)="getOneProduct()"
    >
      Find product by its name and category id
    </button>
  </form>

  <div *ngIf="items$ | async as items">
    <ng-container *ngFor="let item of items">
      <div class="button">
        <ngx-json-viewer [json]="item"></ngx-json-viewer>

      </div>
    </ng-container>
  </div>

  <div *ngIf="item$ | async as item">
    <ngx-json-viewer [json]="item"></ngx-json-viewer>
  </div>
</div>