<div class="top mainColor">
  <span
    (click)="reload()"
    class="title"
  >
    mapacen.pl
  </span>

  <form
    [formGroup]="form"
    class="container"
  >
    <div
      class="button backgroundColor"
      [ngClass]="logged ? '' : 'disable'"
      (click)="emitFavourites()"
    >
      <mat-icon class="icon">favorite_outlined</mat-icon>
    </div>

    <mat-form-field class="chuj backgroundColor powiat">
      <mat-label>Powiat</mat-label>
      <mat-select
        [value]="userLocalCounty"
        formControlName="county"
        (selectionChange)="selectedCounty()"
      >
        <mat-option
          *ngFor="let item of filteredCounties"
          [value]="item"
        >
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      class="produkt backgroundColor"
      [ngClass]="logged ? '' : 'disable'"
    >
      <my-input
        controlName="product"
        type="text"
        label="Wpisz nazwę produktu"
      >
      </my-input>
    </div>

    <mat-form-field
      class="backgroundColor kategoria"
      appearance="outline"
      [ngClass]="logged ? '' : 'disable'"
    >
      <mat-label>Kategorie</mat-label>
      <mat-select formControlName="category">
        <mat-option>Wyczyść</mat-option>
        <mat-option
          *ngFor="let item of filteredCategories"
          [value]="item"
        >
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div
      [ngClass]="logged ? '' : 'disable'"
      class="button find secondaryColor"
      (click)="search()"
    >
      <mat-icon>search</mat-icon>
    </div>
  </form>

  <button
    *ngIf="!logged; else log"
    mat-stroked-button
    class="login"
    (click)="logIn()"
  >
    Zaloguj
  </button>

  <ng-template
    #log
    class="logowanie"
  >
    <button
      class="login logowanie"
      (click)="showUserInfo = !showUserInfo"
    >
      <mat-icon class="iconLogged">face_5</mat-icon>
    </button>
  </ng-template>

  <mat-card
    class="user"
    *ngIf="showUserInfo"
  >
    <mat-card-header>
      <mat-card-title>Informacje o koncie</mat-card-title>
    </mat-card-header><br>
    <mat-card-content>
      <div class="info">
        <span>Pseudonim: {{ userName }}</span>
        <span>E-mail: {{ userEmail }}</span>
        <span>Powiat: {{ userProfileCounty }}</span><br>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="login"
        mat-button
        (click)="logout()"
      >
        Wyloguj
      </button>
    </mat-card-actions>
  </mat-card>
</div>