<div class="top mainColor">
  <span
    (click)="reload()"
    class="title"
  >
    mapacen.pl
  </span>

  <form
    [formGroup]="form"
    class="container"
  >
    <div class="button backgroundColor">
      <mat-icon class="icon">favorite_outlined</mat-icon>
    </div>

    <mat-form-field
      appearance="outline"
      class="backgroundColor powiat"
      (click)="openState('county')"
    >
      <mat-label>Powiat</mat-label>
      <input
        type="text"
        placeholder="Wybierz powiat"
        matInput
        [formControl]="myCountyControl"
        [matAutocomplete]="powiat"
        (click)="openState('county')"
      >
      <mat-icon
        matSuffix
        (click)="openState('county')"
      >
        <span *ngIf="openedCounties">keyboard_arrow_up</span>
        <span *ngIf="!openedCounties">keyboard_arrow_down</span>
      </mat-icon>
      <mat-autocomplete
        #powiat="matAutocomplete"
        (optionSelected)="selectedCounty($event)"
        (closed)="closeState('county')"
      >
        <mat-option
          *ngFor="let option of filteredCounties | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="produkt backgroundColor">
      <my-input
        controlName="product"
        type="text"
        label="Wyszukaj produkt"
      >
      </my-input>
    </div>
    <mat-form-field
      appearance="outline"
      class="backgroundColor kategoria"
      (click)="openState('category')"
    >
      <mat-label>Kategoria</mat-label>
      <input
        type="text"
        placeholder="Wybierz kategorię"
        matInput
        [formControl]="myCategoryControl"
        [matAutocomplete]="kategoria"
        (click)="openState('category')"
      >
      <mat-icon
        matSuffix
        (click)="openState('category')"
      >
        <span *ngIf="openedCategories">keyboard_arrow_up</span>
        <span *ngIf="!openedCategories">keyboard_arrow_down</span>
      </mat-icon>
      <mat-autocomplete
        #kategoria="matAutocomplete"
        (optionSelected)="selectedCategory($event)"
        (closed)="closeState('category')"
      >
        <mat-option
          *ngFor="let option of filteredCategories | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div
      (click)="search()"
      class="button find secondaryColor"
    >
      <mat-icon>search</mat-icon>
    </div>
  </form>

  <button
    mat-stroked-button
    (click)="logIn()"
    class="login"
  >
    {{ loginString }}
  </button>
</div>