<div class="container">
  <disable-area *ngIf="isNotLogged && !countyId"></disable-area>
  <div
    class="disclaimer"
    *ngIf="isNotLogged && !countyId"
  >
    Aby korzystać ze strony wybierz najpierw interesujący Cię region lub zaloguj się
  </div>
  <div
    class="isData"
    *ngIf="offers?.length; else noData"
  >
    <span
      class="favourites-title"
      *ngIf="isFavourites"
    >
      Ulubione
    </span>
    <mat-accordion
      class="item"
      *ngFor="let offer of offers"
    >
      <mat-expansion-panel
        class="data"
        (opened)="offer.opened = true; getComments(offer)"
        (closed)="offer.opened = false"
      >
        <mat-expansion-panel-header
          [collapsedHeight]="'125px'"
          [expandedHeight]="'125px'"
        >
          <div class="max">
            <div class="data--side">
              Zdjęcie
            </div>
            <span class="data--center">
              <span class="name">
                {{ offer.product.name }}
              </span>
              <span class="info">
                {{ offer.salesPoint.name }}, {{ offer.salesPoint.address.city }}
                <span *ngIf="offer.opened">
                  &nbsp;ul.
                  {{ offer.salesPoint.address.street }}
                  {{ offer.salesPoint.address.number }}
                </span>
              </span>
            </span>
            <div class="data--side">
              <span
                *ngIf="isAdmin"
                class="id"
              >
                &nbsp;Id oferty: {{ offer.id }}
              </span>
              <span class="price">
                {{ offer.price | setPrecision }} zł
              </span>
            </div>
          </div>
        </mat-expansion-panel-header>
        <div class="expanded-data">
          <div class="heart-container">
            <span class="favourites-title">
              Komentarze
            </span>
            <button
              mat-icon-button
              (click)="toggleFavourite(offer)"
            >
              <!-- [class.checked]="offer.favourite" -->
              <mat-icon svgIcon="my-heart"></mat-icon>
            </button>
          </div>
          <form
            [formGroup]="form"
            class="container"
          >
            <div class="comment-input mainColor">
              <my-input
                appearance="fill"
                controlName="comment"
                type="text"
                label="Dodaj komentarz"
              >
              </my-input>
            </div>
          </form>
          <div class="right">
            <button
              mat-button
              class="comment-button"
              (click)="comment(offer)"
            >
              Skomentuj
            </button>
          </div>
          <div
            *ngFor="let comment of offer.comments"
            class="full"
          >
            <span class="author">
              {{ comment.author }}
            </span>
            <span class="comment-input comment-body mainColor">
              <span class="com">
                {{ comment.content }}
              </span>

              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  class="menu"
                  (click)="banUser(comment.authorId)"
                >
                  <mat-icon>comments_disabled</mat-icon>
                  <span>Wyłącz komentowanie użytkownikowi</span>
                </button>
              </mat-menu>
            </span>
            <div class="likes">
              {{ comment.likes }}
              <button
                mat-icon-button
                (click)="like(comment)"
              >
                <!-- [class.checked]="offer.favourite" -->
                <mat-icon svgIcon="my-like"></mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="dislike(comment)"
              >
                <!-- [class.checked]="offer.favourite" -->
                <mat-icon svgIcon="my-dislike"></mat-icon>
              </button>
              {{ comment.disLikes }}
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="paging">
      <span *ngIf="isNotLogged">
        Aby odblokować wszystkie możliwości strony proszę się zalogować
      </span>
      <button
        [disabled]="page <= 1 || isNotLogged"
        mat-icon-button
        (click)="changePage(-1)"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      Strona: {{ page }} z {{ totalSites }}
      <button
        [disabled]="page >= totalSites || isNotLogged"
        mat-icon-button
        (click)="changePage(1)"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <ng-template #noData>
    <div
      *ngIf="!isFavourites"
      class="noData"
    >
      <span>
        Brak ofert :(
      </span>
      <span>
        Proszę zmienić filtrację produktów lub sprawdzić w innym powiacie
      </span>
    </div>
    <div
      *ngIf="isFavourites"
      class="noData"
    >
      <span>
        Brak ulubionych :(
      </span>
      <span>
        Proszę dodać jakieś oferty do ulubionych
      </span>
    </div>
  </ng-template>
</div>