.top {
  height: 58px;
  padding: 8px 16px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  justify-content: space-between;

  &-size {
    width: 200px;
  }
}

.return {
  position: absolute;
  top: 95px;
  left: 20px;
  background-color: rgb(96, 72, 156);
  border: 1px solid white;
}

.title {
  position: relative;
  bottom: 5px;
  font-family: 'SiteTitle';
  font-size: 40px;
  display: flex;
  align-items: center;
  color: rgb(245, 245, 245);

  &-size {
    width: 200px;
  }
}

.margin {
  margin: 30px 16% 0 16%;
  background-color: rgb(22, 32, 65);
  border-radius: 18px;
  padding: 20px;
}

.icon {
  color: white;
}