.button {
  width: auto;
  border: 1px solid rgb(224, 224, 224);
}

.row {
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
  align-content: center;
}

.icon {
  position: relative;
  bottom: 1px;
}

.lock {
  &__icon {
    transform: scale(0.90);
    color: rgb(204, 204, 204);
    transition: color .2s ease-in-out;

    &:hover {
      color: rgb(120, 120, 120);
    }
  }
}

::ng-deep .nestedDropdownMenu {
  max-height: 500px !important;

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.18);
  }
}